.sync-padding-x {
    padding-right: 60px;
    padding-left: 60px;
}

.sync-section{
  width: 100%
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 180px
}

/* begin compontens */
.sync-form-center{

}

input{
  /* height: 22px; */
  outline: none;
  border: none;
  padding: 8px 5px;
  background-color: #ecf0f1;
  margin: 2px 0;
  width: 100%;
}

label{
  width: 100%;
}

form p{
  margin: 10px 0;
}

/* end compontens */
