{% extends 'bases/base.html' %}

{% block content %}

<h1>Clientes</h1>
<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Ações</th>
      <th>Exclusão</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in object_list %}
    <tr>
      <td>{{ customer.get_full_name }}</td>
      <td>{{ customer.customer_phone }}</td>
      <td>
        <div>
          <a href="{% url 'customers:detail' customer.pk %}"
          class="uk-button uk-button-primary uk-button-small">
          Ver
        </a>
        <a href="{% url 'customers:update' customer.pk %}"
        class="uk-button uk-button-default uk-button-small">
        Editar
      </a>
    </div>
  </td>
  <td>
    <div>
      <a href="{% url 'customers:delete' customer.pk %}"
      class="uk-button uk-button-danger uk-button-small">
        Excluir
      </a>
    </div>
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
